.navbar{
    background-color: black;
    height: 500px;
}

.content{
    min-height: 100vh;
    width: 100%;
}

#side_nav{
    background-color: black;
    min-width: 250px;
    max-width: 250px;
}

