
<div class="row contenido">



    <ul>

        <ng-container *ngFor="let estudiante of estudiantes">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="ms-3 mb-1">
                            <ol [ngClass]="estudiante.calificacion >= 6 ? 'texto-exito' : 'texto-error'"
                                *ngIf="estudiante.nombre != ''">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                    style="width: 45px; height: 45px" class="rounded-circle" />
                                <span class="fw-bold mb-1">{{estudiante.nombre}}</span>
                                <br>
                                <span>{{estudiante.correo}}</span>
                                <br>
                                <span class="fw-bold fz-3 mb-0 text-infom h3">{{estudiante.calificacion}}</span>
                                <br>

                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </ng-container>


    </ul>



</div>